<header class="site-header">
  <div class="wrapper header-wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="{{ '/about' | relative_url }}">About</a>
      
      <div class="social-links" style="display: flex; gap: 15px; margin-left: 10px; margin-right: 10px;">
        {% if site.social.github %}<a href="https://github.com/yx-yan/" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>{% endif %}
        {% if site.social.linkedin %}<a href="https://www.linkedin.com/in/yuxuan-yan-669b36385/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>{% endif %}
        {% if site.social.twitter %}<a href="https://x.com/yuxuanyan167126/" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>{% endif %}
        {% if site.social.instagram %}<a href="https://www.instagram.com/yuxuan_yan3/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>{% endif %}
      </div>

      <div class="theme-switch-wrapper">
        <i class="fas fa-sun theme-icon icon-light"></i>

        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>

        <i class="fas fa-moon theme-icon icon-dark"></i>
      </div>
    </nav>
  </div>
</header>